* {
    font-family: baskerville;
}

body {
    background-color: lightblue;
}

#poem-card {
    background-color: white;
    box-shadow: 0px 0px 10px black;
    margin-top: 3em;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1em;
    display: block;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: underline;
    text-decoration-color: #cccccc;
    text-decoration-skip: none;
    text-align: justify;
}

.on{
    color: #000000;
    visibility: visible;
}

.fade1 {
    color: #555555;
    visibility: visible;
}

.fade2 {
    color: #888888;
    visibility: visible;
}

.fade3 {
    color: #aaaaaa;
    visibility: visible;
}

.fade4 {
    color: #dddddd;
    visibility: visible;
}

.off {
    /* visibility: hidden; */
    color: #aaaaaa;
    /* color: white; */
}

.linebreak {
    height: .5em;
}

#buttons {
    margin: 3em;
    margin-right: 15%;
    margin-left: 15%;
}

.button {
    background-color: #02388e;
    display: inline-block;
    box-shadow: 0px 0px 3px black;
    padding: .5em;
    margin: .3em;
    color: #cccccc;
}

.selected {
    background-color: #ad0f0f;
}

.button:hover {
    cursor: pointer;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#more:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer {
    margin-bottom: 3em;
}

#about {
    margin-left: 10%;
    margin-right: 10%;
}

.closed {
    display: none;
}